# Undertanding the tips data set

The notebook aims to undertand the content of the tips data set.


## Acknowledgments

- The **seaborn** python package

- Image below from https://www.gosurvey.in/blog/5-reasons-why-your-restaurant-should-gather-customer-feedback

# Tips data set

![RestaurantBillsAndTips.png](datasets/RestaurantBillsAndTips.png)

1. The dataset description
    - Many observations/measurements/recordings of the characteristics/attributes/variables of bills and tips after lunch/dinner in a restaurant
    - Variables: total_bill, tip, sex, smoker, day, time, size of the party (6 variables)
    - Total numer of observations: 244

# Importing and inspecting the data

In [1]:
# Import the packages that we will be using
import seaborn as sns               # For advanced plotting

# Load the dataset
dataset = sns.load_dataset("tips")

In [2]:
# Print the dataset
dataset

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
# Print the number of rows
Nrows = dataset.shape[0]
Nrows

244

In [4]:
# Print the number of columns
Ncols = dataset.shape[1]
Ncols

7